body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin:0;
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.title {
    margin-left: 10px;
}

#datetime {
    margin-left: 30px;
}

.menu ul {
    background-color: #ddd;
    width: 200px;
    height: 2800px;
    padding: 10px;
    margin: 0;
    float:left;
    list-style-type: none;
}

.menu ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu ul li a.active {
    background-color: rgb(0, 73, 128);
    color: white;
}

.menu ul li a:hover:not(.active) {
    background-color: gray;
    color: white;
}

.content {
    margin-left: 230px;
    padding: 20px;
    height: 3500px;
    border: none;
}

.content section {
    display: none;
}

.content section.pet {
    display: block;
}

.content section:target {
    display: block;
}

footer {
    background-color:lightblue;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.privacy_disclaimer {
    margin-bottom: 5px;
    color:red;
}

